<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851029941497-1u101nlrfgc8bd9gsn61q1l287jmva94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851029941497-1u101nlrfgc8bd9gsn61q1l287jmva94</string>
	<key>API_KEY</key>
	<string>AIzaSyAkBRVp9kj1ZsK_LPJi4CLFUE6ZsdgPmyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>851029941497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinghan.20230501</string>
	<key>PROJECT_ID</key>
	<string>project-966686987542863764</string>
	<key>STORAGE_BUCKET</key>
	<string>project-966686987542863764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851029941497:ios:4cbcda88398d2535e19628</string>
</dict>
</plist>